<% random_twit %>

<div class="row">
    <div class=col-md-3>
		<div class="panel panel-default">
	        <div class="panel-body">
	        	<b><%= current_user.name %></b><br>
	        	<p>@<%= current_user.username %></p>
	        	<div class="row">
    				<div class=col-md-3>
	        			<p>Twits <%= current_user.twits.count%></p>
	        		</div>
	        		<div class=col-md-3>
	        			<p>Following </p>
	        		</div>
	        		<div class=col-md-3>
	        			<p>Followers </p>
	        		</div>
	        	</div>
	        </div>
		</div>
	</div>
	<div class=col-md-6>
		<div>Make the "Quick twit" box</div>
		<div class="panel panel-info">
	        <div class="panel-body">
				<h1>@<%= current_user.username %>'s Twit Feed</h1>
				<p>Here is what your "friends" are saying:</p>

				<div>
					<% @following_twits.each do |twit| %>
						<%= render 'layouts/twit', twit: twit %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class=col-md-3>
		<div class="panel panel-default">
	        <div class="panel-body">
	        	<p>More Stuff/Weather?</p>
	        </div>
		</div>
	</div>
</div>
