<h3>@<%= @user.username %>'s Profile and Twits</h3>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
	<% if current_user.following.include?(@user.id) %>
		<!-- unfollow button -->
		<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id:"unfollow_btn" %>
	<% else %>
		<!-- follow button -->
		<% if current_user.id != @user.id %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
	<% end %>
</p>


<% @user.twits.each do |twit| %>
	<%= render 'layouts/twit', twit: twit %>
<% end %>
