<div class="panel panel-default">
        <div class="panel-heading">
<%= image_tag profile_pic(twit.user), size: 50, class: "user-pic-nav" %><br>
<strong><%= twit.user.name %></strong> @<%= link_to twit.user.username, show_user_path(id: twit.user.id) %>
	<%= time_ago_in_words(twit.created_at).gsub('about','') %> ago
		</div>
		<div class="panel-body">
<%= twit.message.html_safe %>
</div>
</div>