<div class="panel panel-info">
        <div class="panel-heading">
        	<div class="row">
    			<div class=col-md-2>
					<%= image_tag profile_pic(twit.user), size: 50, class: "user-pic-nav" %>
				</div>
				<div class=col-md-10>
					<strong><%= twit.user.name %></strong><br> @<%= link_to twit.user.username, show_user_path(id: twit.user.id) %>
					<%= time_ago_in_words(twit.created_at).gsub('about','') %> ago
				</div>
			</div>
		</div>
		<div class="panel-body">
<%= twit.message.html_safe %>
</div>
</div>